* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}
html{
  scroll-behavior: smooth;
}

body {
  background: #007CEC;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 93%;
  margin: 30px auto;
  background: #222222;
  border-radius: 40px;
  padding: 0px 50px;
  transform: rotateY(180deg);
  opacity: 0;
  transition: .7s all ease-in;
}
.container.show{
  transform: rotateY(0deg);
  opacity: 1;
}


nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: relative;
}

.text-and-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.text-and-logo h1:nth-child(1) {
  width: 44px;
  height: 44px;
  font-weight: 800;
  font-size: 30px;
  background-color: #007CEC;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
}

.text-and-logo h1:nth-child(2) {
  font-size: 24px;
  font-weight: 500;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

nav ul li a {
  color: white !important;
  text-decoration: none;
  margin-left: 50px;
  font-size: 14px;
}

.burger{
  font-size: 28px;
  cursor: pointer;
  display: none;
}
.dropdown-item{
  position: relative;
  display: block;
}
.hidden-ul{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  position: absolute;
  top: 60px;
  left: 30px;
 background: #292929;
 border-radius: 8px;
 opacity: 0;
 pointer-events: none;
 transition: .2s all ease-in;
}
.hidden-ul.show{
  top: 30px;
  opacity: 1;
  pointer-events: all;
}
.hidden-ul li a{
  margin-left: 0;
}
#me {
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: center;

          align-items: center;
  padding: 0 100px;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-500px);
  transition: 1s ease-in;
  
}
#me.show{
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0px);
}


.my-pic{
  width: 50%;
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.pic{
  width: 300px;
  height: 300px;
  background-image: url(../img/myphoto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 15px solid #444444;
  border-radius: 50%;
}
.short-info{
  width: 50%;
}
.short-info p {
  color: white;
  font-size: 14px;
}

.short-info h1 {
  font-size: 32px;
  color: white;
  font-weight: 800;
}

.short-info button {
  width: 150px;
  height: 40px;
  color: white;
  background: #444444;
  padding: 5px 30px;
  outline: none;
  border-radius: 30px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 40px  black;
          box-shadow: 0px 0px 40px  black;
}

.cv {
  border: 2px solid #007CEC;
  transition: .3s ease-in;
}
.cv:hover{
  background: #007CEC;
}

.contact {
  border: 2px solid white;
  transition: .3s ease-in;
}
.contact:hover{
  background: white;
  color: #007CEC;
}

#services {
  padding: 50px;
  color: white;
  opacity: 0;
  transform: translateX(500px);
  transition: .5s ease-in;
}
#services.show{
  opacity: 1;
  transform: translateX(0px);
}

.services-title {
  position: relative;
  display: inline-block;
}

.services-title::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  background: #444444;
  bottom: 0;
  height: 2px;
}

.services-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 30%;
  background: #007CEC;
  bottom: 0;
  height: 2px;
}

.services-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;

}

.icon-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.services-left {
  margin-right: 20px;
}

.icon-description i {
  margin-right: 20px;
  color: #007CEC;
  font-size: 32px;
}

#testimonials {
  color: white;
  padding: 30px;
  margin-bottom: 10px;
  opacity: 0;
  transition: 1s all ease-in;
}
#testimonials.show{
  opacity: 1;
}

#testimonials .testimonials-title {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
}

#testimonials .testimonials-title::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  background: #444444;
  bottom: 0;
  height: 2px;
}

#testimonials .testimonials-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 30%;
  background: #007CEC;
  bottom: 0;
  height: 2px;
}

.tests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  overflow: hidden;
}

.item {
  margin: 10px;
  position: relative;
  border: 2px solid #444444;
  padding: 20px;
  border-radius: 10px;
}

.item img {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  top: -25px;
  left: -20px;
}

footer {
  color: white;
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul li {
  margin-left: 20px;
  font-size: 14px;
  color: #444444;
}
/*# sourceMappingURL=style.css.map */

.upper-arrow{
  width: 44px;
  height: 44px;
  border-radius: 10px;
  background: #444444;
  position: fixed;
  left: 95%;
  bottom: 10px;
  transition: .7s ease;
  opacity: 0;
  cursor: pointer;

}
.upper-arrow.active{
  bottom: 50px;
  opacity: 1;
}

.upper-arrow::before{
  content: "\005E";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 22px;
}

/* ////////////////////////////////////////////////// */

@media (max-width: 940px){
  body{
    padding: 0;
  }
  .burger{
    display: block;
    z-index: 100;
  }
  .container {
    width: 100%;
    margin: 0;
    border-radius: 0px;
    background: #222222;
    padding: 0 0px;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -110%;
    background: #292929;
    z-index: 10;
    flex-direction: column;
    line-height: 5rem;
    justify-content: center;
    transition: .5s ease;
  }
  nav ul.show{
    left: 0;
  }
  nav ul li a{
    font-size: 32px;
  }
  .hidden-ul{
    display: none;
  }

  #me{
    flex-direction: column;
    padding: 0px 20px;
    opacity: 0;
  pointer-events: none;
  transform: translateX(-200px);
  transition: .5s ease-in;
  }
  #me.show{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0px);
  }
  .my-pic, .short-info{
    width: 90%;
  }
  #services {
    padding: 20px;
    color: white;
    opacity: 0;
    transform: translateX(200px);
    transition: .5s ease-in;
  }
  #services.show{
    opacity: 1;
    transform: translateX(0px);
  }

  .services-info{
    flex-direction: column;
  }
  .tests{
    flex-direction: column;
  }
  .upper-arrow{
    width: 44px;
    height: 44px;
    border-radius: 10px;
    background: #444444;
    position: fixed;
    left: 92%;
    bottom: 10px;
    transition: .7s ease;
    opacity: 0;
    cursor: pointer;
  
  }
  .upper-arrow.active{
    bottom: 50px;
    opacity: 1;
  }
  footer{
    font-size: 8px;
  }
}